<div class="main-container">
  <div class="card-container">
    <% @kittens.each do |kitten| %>
    <div class="kitten-card">
      <img src="https://res.cloudinary.com/do6brpyuo/image/upload/v1551217610/galileo.png">
        <div class="kitten-info-card">
          <h2><%= link_to kitten.name, kitten_path(kitten) %></h2>
          <p> <%= kitten.description %></p>
          <p> <%= kitten.location %></p>
        </div>
    </div>
    <% end %>
  </div>
</div>
