<div class="main-container">
  <div class="row">
    <h1>Share your kitten</h1>
    <div class="form"></div>
      <%= render 'form', kitten: @kitten %>
      <%= link_to 'Back', user_session_path %>
    </div>
  </div>
</div>
