<div class="kitten-main-container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8 col-md-10">
      <h1>Share your kitten</h1>
         <div class="polaroid-images">
            <a href="" title="Misty"><img height="200" src="images/water.jpg" alt="Misty" title="Misty" /></a>
            <a href="" title="Ella"><img height="200" src="images/water2.jpg" alt="Ella" title="Ella" /></a>
            <a href="" title="Caleb"><img height="200" src="images/water3.jpg" alt="Caleb" title="Caleb" /></a>
            <a href="" title="Tiger"><img height="200" src="images/water4.jpg" alt="Tiger" title="Tiger" /></a>
        </div>
    </div>





    <div class="col-12 col-lg-4 col-md-2">
      <div class="form-container-height">
        <%= render 'form', kitten: @kitten %>
        <p class="text-right"><%= link_to 'Back', user_session_path %></p>
      </div>
    </div>
  </div>
</div>



