// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


// changed color scheme
$main-color: #A885C4;
$light: #D5BEE8;
$dark: #D5BEE8;
