
.booking-info {
  p {
    margin-top: 20px;
    font-size: 24px;
    font-weight: lighter;
    color: $main-color;
  }
}

.link-kitten {
  color: $main-color;
  margin: 24px, 50px;
   &:hover{
    color: $light;
   }
}
