// Import page-specific CSS files here.
@import "home";

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-grow: 1;
  grid-gap: 10px;
  // width: 100%;
}

.kitten-card {
  // display: inline-block;
  // vertical-align: top;
  width: 400px;
  height: 350px;
  margin: 20px;
  box-shadow: 4px 2px 41px -9px rgba(171,168,171,0.86);
  border-radius: 4px;
}

.kitten-info-card {
  padding: 5px;
  // text-align: center;
   p {
     margin-left: 5px;
   }
}

.kitten-info-card p {
  font-size: 15px;
}

.kitten-card img {
  // height: 100%;
  width: 100%;
  object-fit: cover;
}

h1 {
  padding-top: 20px;
  font-weight: bolder;
  // font-color: $light;
}

a {
  color: $main-color;
  text-decoration: none;
}

#map {
  position: sticky;
  top: 0;
}
.inner-info {
  padding: 0 10px;
  padding-bottom: 10px;
}

// .kitten-description {
//   white-space: nowrap;
//   overflow: hidden;
//   text-overflow: scroll;
// }
