h1, h2, h3, {
 color:$light;
}

img {
 width:400px;
 border-radius:4px;

}

body {
 background-color:white;
}

.padding-top {
 padding-top:100px;
}

.border-show {
border-color:#ffa783;

}

.border {

  border-color:#ffa783;
}

.margin-show {
  margin:20px;
}

.flex-box-show{
display: flex;
justify-content: space-between;
align-items: flex-end;


}

.price-item{
  // color:#ffa783;
  font-size: 50px;
}

.font-size {
  font-size: 10px;
  color:black;
}

.review-box-margin{
  margin-top:150px;
}


.btn-light-orange-show {
  background-color: $light;
  &:hover {
     text-decoration: none;
  }
}

.button-show {
  padding: 16px 24px;
  color: white;
  border-radius: 8px;
  font-size: 16px;
  text-decoration: none;
  border: none;
  width: 260px;
}

.sticky-booking{

  position: sticky;
  top: 6px;
}
