h1 {
 color:#ffa783;
}

h3 {
 color:#ffa783;
}

h4 {
 color:#ffa783;
}

p {
  color: #ffa783;
}

img {
 width:500px;
 border-radius:2px;
}

body {
 background-color:white;
}

.padding-top {
 padding-top:100px;
}

.border-show {
border-color:#ffa783;

}

.border {

  border-color:#ffa783;
}

.margin-show {
  margin:20px;
}

.flex-box-show{
display: flex;
justify-content: space-between;

}

.price-item{
  color:#ffa783;
  font-size: 50px;
}

