<div>
  <%= simple_form_for [@kitten, @booking] do |f| %>
    <%= f.input :date, as: :string, required: false, input_html: {class: "dater"}  %>
    <%= f.input :date, as: :string, required: false, input_html: {class: "dater", id: "date2"}  %>
    <div class="text-center "> <%= f.submit 'Book', class: "button btn-light-orange" %> </div>
  <% end %>
</div>


