<div class="main-container">
  <h1>BOOKINGS</h1>
  <% @bookings.each do |booking| %>
    <h2><%= link_to booking.kitten.name, kitten_path(kitten) %></h2>
    <p>is going to spend some quality time with you!</p>
    <%= link_to booking_path(kitten), method: :delete, data: { confirm: "Are you sure?"} do %>
    <i class="fa fa-trash destroy_dose"></i>
    <% end %>
  <% end %>
</div>
