<div class="booking-card">
  <div>
    <h1>Congratulations!</h1>
  <div class="booking-info">
    <p>Enjoy your time with <%= @kitten.name %></p>
    <%= image_tag "galileo.png", class: "cat-img"%>
  </div >
    <%= link_to "Go back to see all my friend", kittens_path, class:"link-kitten" %>
  </div>

</div>
