<div class="home-container" >
<!--   <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/cat-home.jpg')"> -->
  <div class="banner">
      <h1>Find a fluffy friend</h1>
        <%= link_to "Rent a kitten", "", class: "btn btn-light" %>
  </div>
</div>

