
.btn-light {
  background-color: $orange-ligth;
  &:hover {
     background-color: $orange-ligth;
     text-decoration: none;
  }
}

.btn {
  padding: 16px 24px;
  color: white;
  border-radius: 8px;
  font-size: 16px;
  text-decoration: none;
  border: none;
}

.btn-dark {
  background-color: $orange-logo;
}
