// this button is purple
.btn-light-orange {
  background-color: $light;
  &:hover {
     text-decoration: none;
      color: $main-color;
  }
}

.button {
  padding: 16px 24px;
  color: white;
  border-radius: 8px;
  font-size: 16px;
  text-decoration: none;
  border: none;
}

.btn-dark {
  background-color: $dark;
}
