.main-container {
  // flex-wrap: wrap;
  justify-content: center;
}

.form-container-height{
  height:500px;
  width: 350px;
  padding: 20px;
  margin-left: 20px;
  background-color: white;
}

.main-container, .kitten-main-container, .kitten-show-container{
  display: flex;
}

.kitten-main-container {
  justify-content: center;
  padding-top: 60px;
    h1{
     padding-bottom: 40px;
     color:$main-color;
    }
}

.kitten-show-container{
 width: 100%;
 margin-right: 20px;
 color: black;
}
// .kitten-main-container {

// }

