.col-6 {
  margin-top: 32px;
  background: white;
  border-radius: 4px;
  box-shadow: 4px 2px 41px -9px rgba(171,168,171,0.86);
}

.btn {
  padding: 2px 4px;
  color: white;
  border-radius: 4px;
  background: #D5BEE8;
}

.links {
  padding: 24px 4px;
}

h2 {
  text-align: center;
  padding-top: 10px;
  font-style: bolder;
}
