
.logos {
  display: flex;
  text-align: center
}

.logo-letters {
  font-family: 'Amatic SC', cursive;
  font-size: 40px;
  font-weight: bold;
  color: $orange-logo;
}

.logo {
  height: 50px;
  width: 50px;
  margin: 6px 10px;
}
