.navbar-lewagon {
  justify-content: space-between;
  background: $orange;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-item {
  p {
    color: white;
    text-align: center;
  }
}

.navbar-link{
  font-size: 20px;
  color: white;
  font-weight: light;
}
// .navbar-brand {
//     padding: 4px;
//     img {
//       width: 200px;
//       padding: 30px;
//     }
// }
// .big-logo {
//   height: 100px;
//   width: 200px;
// }

// .navbar-brand {
//   width: 200px;
// }
